<a href="https://colab.research.google.com/github/Asylcreek/Team_Swift_Recommender_System/blob/master/Recommender_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import files from google drive
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [0]:
# import all necessary libraries
import pandas as pd
import numpy as np

In [0]:
users = pd.read_csv('/content/gdrive/My Drive/Recommender/users.csv')
following = pd.read_csv('/content/gdrive/My Drive/Recommender/following.csv')
notifications = pd.read_csv('/content/gdrive/My Drive/Recommender/notifications.csv')
posts = pd.read_csv('/content/gdrive/My Drive/Recommender/posts.csv')

In [4]:
# users.head()
following.head()
# notifications.head()
# users.head()

   my_id  follower_id  status
0      3            6       1
1      6            3       1
2      3            2       1
3      3            7       1
4      7            2       1

In [0]:
users = users.drop(columns = ['email', 'image', 'provider', 'provider_id', 'password', 'remember_token', 'created_at', 'updated_at'])
following = following.drop(columns = ['status'])
# notifications = notifications.drop(columns = ['post_id', 'parent_comment_id'])
posts = posts.drop(columns = ['id','title', 'tags', 'slug', 'created_at', 'updated_at', 'image', 'status_id', 'action', 'post_id'])
users = users.rename(columns = {"id": "user_id"})
following = following.rename(columns = {"my_id": "user_id"})

In [6]:
users.head()

   user_id  ...                                          short_bio
0        1  ...               Software Developer | DevOPs Engineer
1        2  ...                                      Web Developer
2        3  ...  Front End Developer | React Developer | Mentor...
3        4  ...  | Software Developer | DevOps Engineer | @linu...
4        5  ...            I Am lamar and you don't think am real?

[5 rows x 4 columns]

In [7]:
following.head()

   user_id  follower_id
0        3            6
1        6            3
2        3            2
3        3            7
4        7            2

In [8]:
posts.head()

   user_id                                            content
0     2077  I learnt how to use the table tag as i have us...
1     1719  ¬†I am on this journey with start.ng, and here ...
2     1310  I have not been attending classes on the HNG c...
3     1787  My journey on **StartNG** pre-internship progr...
4      167  ¬†A Summary on The ‚Äúidongesit.html‚Äù CV, Its Str...

In [0]:
# users.info()
# following.info()
# posts.info()
users = pd.merge(users, following, on = 'user_id')
# df = pd.merge(df, movie_titles, on = 'movieId')

In [10]:
users.head(50)

    user_id  ... follower_id
0         1  ...           7
1         1  ...           3
2         1  ...           4
3         2  ...           7
4         3  ...           6
5         3  ...           2
6         3  ...           7
7         3  ...           9
8         3  ...           2
9         3  ...           1
10        3  ...          20
11        3  ...           1
12        3  ...           2
13        3  ...           2
14        3  ...          18
15        3  ...          18
16        3  ...          18
17        3  ...         910
18        3  ...          11
19        3  ...         140
20        3  ...          45
21        3  ...         363
22        4  ...           9
23        4  ...           2
24        4  ...           1
25        4  ...          76
26        4  ...         160
27        4  ...         251
28        4  ...         120
29        4  ...         142
30        4  ...         424
31        4  ...         653
32        4  ...           7
33        4  ...          29
34        6  ...           3
35        7  ...           2
36        7  ...           3
37        7  ...          11
38        7  ...           6
39        8  ...           9
40        8  ...           7
41        8  ...           6
42        9  ...           2
43        9  ...           3
44        9  ...           7
45        9  ...         280
46        9  ...         890
47        9  ...           8
48        9  ...        1281
49        9  ...         466

[50 rows x 5 columns]

In [0]:
users = pd.merge(users, posts, on = 'user_id')

In [12]:
users.head()

   user_id  ...                                            content
0        1  ...                                          Yh it did
1        1  ...                                              First
2        1  ...    second![](/storage/1/images/img-ga0dlp954u.png)
3        1  ...  third![](/storage/1/images/img-hta9olnjij.png)...
4        1  ...                                          Yh it did

[5 rows x 6 columns]

In [13]:
posts.head()
following.head()

   user_id  follower_id
0        3            6
1        6            3
2        3            2
3        3            7
4        7            2

In [0]:
following.insert(2, "follower_name", 2)

In [0]:
# following.head()
# following['follower_id'][0]
# len(following['follower_id'])
# np.where(following['follower_id'][3], 6)
# following.tail()

In [0]:
# for i in range(len(following['follower_id'])):
#   for j in range(len(users['user_id'])):
# #     # print (i)
#     if following['follower_id'][i] == users['user_id'][j]:
#       following['follower_name'][i] = users['name'][j]
#       # print (users['user_id'][j],users['name'][j])  
# #       # following['follower_name'][i] = users['name'][i]
                                        
# print('a')

In [17]:
following.head(100)

    user_id  follower_id  follower_name
0         3            6              2
1         6            3              2
2         3            2              2
3         3            7              2
4         7            2              2
5         7            3              2
6         9            2              2
7         9            3              2
8         9            7              2
9         8            9              2
10        4            9              2
11        3            9              2
12        1            7              2
13        1            3              2
14        4            2              2
15        4            1              2
16        3            2              2
17        3            1              2
18       11            7              2
19        7           11              2
20       17            7              2
21       20            7              2
22       20            3              2
23       20            9              2
24       23            7              2
25       25            7              2
26       26            7              2
27       28            7              2
28       39            7              2
29        3           20              2
..      ...          ...            ...
70      111          299              2
71      142          259              2
72      142          148              2
73      120          282              2
74      142            4              2
75      238          150              2
76      120            4              2
77      340          150              2
78      111          150              2
79      142          160              2
80      142           55              2
81       55          148              2
82      148           47              2
83      170            3              2
84      148          325              2
85      148          325              2
86      354            3              2
87      160           74              2
88      160            4              2
89      164            3              2
90       55          142              2
91      196          136              2
92      306            3              2
93      150          111              2
94      150          238              2
95      118            3              2
96      191            7              2
97      164            2              2
98      316            3              2
99      164            7              2

[100 rows x 3 columns]

In [0]:
users = users.groupby('follower_id')
# # for i in users['number_of_followers']:
# #   if i == 'NaN'
# #     i = 0
# users.head(50)
# index = pd.MultiIndex.from_arrays(users, names=('user_id', 'follower_id', 'content'))
# users = pd.DataFrame(index = index)